:root {
  --primaryColor: #495E57;
  --secondaryColor: #F4CE14;
}

.App {
  text-align: center;
}

Footer {
  background-color: antiquewhite;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.navigation {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.navigation a, .navigation a:visited {
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
}

@media (max-width: 35em) {
  /* navigation */
  .nav-section {
    justify-content: start;
    margin-left: 30px;
  }

  .navigation {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    z-index: 2;
    padding: min(30vh, 10rem) 2em;
    background-color: hsl(0deg 0% 100% / 50%);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .hamburger {
    display: block;
    position: absolute;
    outline: none;
    border: none;
    right: 2rem;
    z-index: 9999;
    background: url('images/hamburger_icon.svg');
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hamburger[aria-expanded="true"] {
    background-image: url('images/close.svg');;
  }
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main > section > article {
  position: relative;
  font-family: serif;
}

.intro {
  background-color: var(--primaryColor);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.intro-article {
  grid-column: 3 / 7;
}

.intro-article > h1 {
  color: var(--secondaryColor);
  font-size: 35px;
  margin: 0;
}

.intro-article > h2 {
  color: white;
  margin: 0;
}

.intro-article > p {
  color: white;
  font-family: sans-serif;
}

.intro > img {
  position: absolute;
  right: 16%;
  top: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.2s;
}

.main-btn {
  outline: none;
  background-color: var(--secondaryColor);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

.reserve-btn > a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1100px) {
  .intro > img {
    width: 250px;
    height: 290px;
    right: 15%;
  }
}

@media (max-width: 700px) {
  .intro > img {
    width: 200px;
    height: 290px;
  }
}

@media (max-width: 35em) {
  .intro > img {
    grid-column: 8 / 12;
    width: 100%;
    height: calc(100% - 10px);
    object-fit: cover;
    border-radius: 20px;
    position: relative;
  }
}

/* specials */
.specials-section {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.specials-section > h1 {
  grid-column: 3 / 9;
  font-size: 2.5rem;
  font-family: serif;
}

.specials-section > button {
  grid-column: 9 / 11;
  align-self: center
}

.special-card-section {
  grid-column: 3 / 11;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.special-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  background-color: #EDEFEE;
  border: 1px solid black;
}

.special-card > :not(:first-child) {
  padding: 0px 10px;
}

.special-card > img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.name_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_price > h2 {
  font-size: 17px;
}

.name_price > p {
  color: #EE9972;
  font-weight: 600;
}

.special-card > p {
  height: 120px;
}

@media (max-width: 35em) {
  .specials-section {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

/* footer */
footer > section {
  position: relative;
  /* width: 650px; */
  padding: 10px 0;
  font-family: serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer-img {
  grid-column: 3;
  width: 100px;
}

.doormat {
  grid-column: 5;
}

.footer-contact {
  grid-column: 7 / span 2;
}

.footer-social {
  grid-column: 9 / span 2;
}

footer ul {
  gap: 20px;
  list-style: none;
  padding: 0;
}

footer ul a {
  text-decoration: none;
  color: black;
}