:root {
  --primaryColor: #495E57;
  --secondaryColor: #F4CE14;
}

.App {
  text-align: center;
}

Nav, Main, Footer {
  padding: 10px 0;
}

Footer {
  background-color: antiquewhite;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navigation > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navigation a, .navigation a:visited {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 81px);
}

main > section > article {
  position: relative;
  /* width: 650px; */
  font-family: serif;
}

.intro {
  background-color: var(--primaryColor);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  padding: 10px 0;
}

.intro-article {
  grid-column: 3 / 11;
}

.intro-article > h1 {
  color: var(--secondaryColor);
  font-size: 35px;
  margin: 0;
}

.intro-article > h2 {
  color: white;
  margin: 0;
}

.intro-article > p {
  width: 200px;
  color: white;
  font-family: sans-serif;
}

.intro-article > img {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.reserve-btn {
  outline: none;
  background-color: var(--secondaryColor);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer > section {
  position: relative;
  /* width: 650px; */
  padding: 10px 0;
  font-family: serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer-img {
  grid-column: 3;
  width: 100px;
}

.doormat {
  grid-column: 5;
}

.footer-contact {
  grid-column: 7 / span 2;
}

.footer-social {
  grid-column: 9 / span 2;
}

footer ul {
  gap: 20px;
  list-style: none;
  padding: 0;
}

footer ul a {
  text-decoration: none;
  color: black;
}